<div class="wrapper">
  <h1 class="profile-name">Alex Millward</h1>
  <h2 class="profile-title">Computer Scientist, Software Engineer</h2>
  <mat-card>
    <mat-card-title>
      Associate, Securities Division, Goldman Sachs
    </mat-card-title>
    <mat-card-subtitle>
      April 2018 onwards
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        I currently work within a <b>technology function</b> of the <b>Prime Brokerage</b> group
        in London, UK. My contributions are towards building, maintaining and enhancing 
        systems for trading and trade management for the firm, its' clients and
        institutional peers. My role heavily involves development with Java, 
        JavaScript and SQL, as well as proprietary technologies and platforms.
      </p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-title>
      Associate, Core Infrastructure, Morgan Stanley 
    </mat-card-title>
    <mat-card-subtitle>
      August 2016 until April 2018 
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        Whilst at Morgan Stanley, I worked in the <b>Core Infrastructure division</b>,
        building authentication technologies for the firm's client platform, and 
        internal web portals. My team was responsible for frameworks offering both 
        conventional, password-based authentication as well as a range of
        multi-factor authentication technologies. 
        This work primarily involved a combination of Java and 
        JavaScript programming, with LDAP as a data store, but also offered opportunities 
        to work with C++ codebases. There was a strong emphasis on securing both
        cryptographic data and connections between systems, as well as architectural 
        scale, stability and availability both within and outside of the firm.
      </p>
      <p>
        My contributions were wide ranging, with particular focus on eliminating client-side
        vulnerabilities, maintaining and improving user experience, building out authentication 
        workflows for new multi-factor technologies and improving the quality and rate
        of delivery by applying agile principles and implementing stronger testing and
        review practices.
      </p>
      <p>
        From August to November 2018, I participated in the <b>Technology Analyst Program</b>,
        that provided technical training relevant to work in financial technology, and Morgan
        Stanley specifically. This included C++, Java, Scala, C#, UNIX, Relation Databases (SQL),
        Software Engineering and Web Technologies, as well as proprietary technologies and
        frameworks.
      </p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-title>
      MComp, Computer Science, University of Sheffield
    </mat-card-title>
    <mat-card-subtitle>
      September 2012 until June 2016 
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        I received a <b>first class Masters degree</b> for my four year course in Computer Science 
        at the University of Sheffield.
      </p>
      <p>
        The <b>final year</b> of my course covered advanced topics, including the theory and practice
        of machine learning and high-parallelism computing with CUDA. A significant component
        of the year was a group project that my team and I undertook in collaboration with
        technical consultants at the UK Home Office, building a proof of concept system
        to automatically extract structured information from scans of documents associated with 
        visa applications.
      </p>
      <p>
        The <b>first three years</b> of my course provided in depth teaching on the theory of
        Computer Science, as well as broad-scoped teaching for programming (procedural,
        object-oriented, functional and logical), data modelling, 3D graphical procedures and
        APIs, computer security and machine learning (with a notable focus on text processing).
        During my third year, I combined interests in machine learning and economics for my
        <b>dissertation</b> in which I analysed the feasibility of using sentiment analysis
        techniques to generate an alternative measure of consumer confidence. The approach
        was evaluated against existing survey-based techniques, and the resulting report
        and presentation was awarded a first class grade.
      </p>
      <p>
        Between my second and third years, I received funding from the University of Sheffield
        to work on a <b>research project</b>, investigating the use of agent-based modelling
        techniques to model microeconomic scenarios. I implemented a model of the interactions
        between small production firms, finding success in generating patterns of
        expansion and competitive interaction that would align with expectation given economic 
        theory.
      </p>
    </mat-card-content>
  </mat-card>
  <p class="copyright">&copy; Alex Millward - 2019</p>
</div>
